body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
}
.header {
    position: relative;
    padding: 20px;
    text-align: left;
    background-color: white;
}

.header img {
    width: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    margin-top: 150px;
}
.header-content img {
    width: 300px;
    margin-left: 280px;
}
.header-content div {
    flex: 1;
}
.header h1 {
    font-size: 24px;
    margin: 0 0 10px;
    margin-left: 95px;
}
.header p {
    font-size: 24px;
    color: #000000;
    margin:20px;
}
.header button {
    background-color: #ff3b30;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.vacancies {
    padding: 20px;
}
.vacancies h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.vacancies .location {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.vacancies .location img {
    width: 20px;
    margin-right: 10px;
}
.jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.vacancies .job {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    width: 100px;
    flex: 1 1 calc(50% - 15px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
.vacancies .job h3 {
    margin: 0;
    font-size: 18px;
}
.vacancies .job p {
    color: #666;
    font-size: 14px;
    margin: 5px 0 15px 0;
}
.vacancies .job button {
    background-color: #ff3b30;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.city-selector {
position: relative;
display: inline-block;
margin-bottom: 20px;
}

#cityButton {
background-color: white;
color: #585858;
padding: 10px;
font-size: 16px;
border: 1px solid #ccc;
cursor: pointer;
border-radius: 5px;
}

#cityButton span {
margin-left: 5px;
}

#cityDropdown {
display: none;
position: absolute;
background-color: white;
min-width: 160px;
box-shadow: 0 8px 16px rgba(0,0,0,0.2);
border-radius: 5px;
z-index: 1;
}

#cityDropdown input {
padding: 8px;
border: none;
width: 100%;
box-sizing: border-box;
}

#cityDropdown a {
color: #1c1c1b;
padding: 10px 16px;
text-decoration: none;
display: block;
}

#cityDropdown a:hover {
background-color: #ddd;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.show {
display: block !important;
}
.footer {
    background-color: #ff3b30;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer img {
    width: 24px;
    margin: 0 5px;
    vertical-align: middle;
}